section.main.css-k1vhr4.egzxvld3  {
    background-image: linear-gradient(#FDFDBD, #C8FFD4);
}
div.css-1n76uvr.e1tzin5v0{
    background-color: #fff;
    border-radius: 2%;
    border: 2px solid rgb(250, 1, 1);
    min-width: 1000px;
    padding-bottom: 30px;
    padding-left: 50px;
}
label.st-bi.st-b3.st-bj.st-bg.st-ar {
    color: #B8E8FC;
    margin-bottom: 20px;
    margin: 30px;
    text-align: center;
}
label.st-bi.st-b3.st-bj.st-bg.st-ar:hover {
    background-color:  #B8E8FC;
}
section.css-163ttbj.e1fqkh3o11{
    width: 310px;
    background-color:#B1AFFF;
}
div.st-c0.st-ce {
    font-size: 25px;
    font-weight: bold;
}
div.css-184tjsw p {
    font-size: 30px;
    font-weight: bold;
}
button.css-1x8cf1d.edgvbvh10:hover {
    background-color: greenyellow;
}
